<p id="notice"><%= notice %></p>

<!-- Carousel
   ================================================== -->
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     </ol>
     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <%=image_tag("fondo_preu.jpg",style: 'width:100%;' ,alt: "First slide", class: "first-slide")%>
       </div>
     </div>
   </div><!-- /.carousel -->

<div class="row">
  <div class="row dashboard">
    <h1>Nuevas noticias</h1>
  </div>
  <%if @news.size == 0%>
    <div class="container-fluid well container-md-6 container-news ">
      <h2 class="news-title"> No hay noticias :(</h2>
      <div class="news-body">El negro ql aun no pone noticias 77</div>
    </div>
  <%end%>
  <% @news.each do |n|%>
    <div class="container-fluid well container-md-6 container-news ">
      <h2 class="news-title"> <%= n.title %></h2>
      <div class="news-body"><%= n.body %></div>
    </div>
  <% end %>
</div>
